$brightColor: #f6f8fc;
$hoverButtonColor: #ee1515;
$textColorBright: #6b6b6b;
$brightShadow-box: rgba(0, 0, 0, 0.15) 0px 5px 15px;
$darkColor: #212121;
$textColorDark: #e6e6e6;
$darkShadow-box: rgba(255, 255, 255, 0.15) 0px 5px 15px;

*{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.light-theme{
    --text-color: #{$textColorBright};
    --background-color: #{$brightColor};
    --shadow-box: #{$brightShadow-box};
    --absolute-color: white;
    --pokeball-background: brightness(3);
}

.dark-theme{
    --text-color: #{$textColorDark};
    --background-color: #{$darkColor};
    --shadow-box: #{$darkShadow-box};
    --absolute-color: #181818;
    --pokeball-background: grayscale(-50%);
}


.profile-teams{
    display: flex;
    flex-direction: column;
    align-items: center;

    .team-item{
        width: 50%;
        background-color: var(--absolute-color);
        display: flex;
        flex-direction: row;
        margin: 50px;
        padding: 10px;
        border-radius: 15px;
        box-shadow: $brightShadow-box;
    
        .team-pokemon{
            display: flex;
            justify-content:space-around;
            flex-direction: column;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.profile-edit{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--background-color);
    border-radius: 15px;
    z-index: 10;
    justify-content: center;
    background-color: var(--absolute-color);
    width: 500px;
    height: 550px;
    max-width: 80vw;
    max-height: 90vh;
    padding: 50px;
    transition: 0.2s ease-in-out;

    .image-edit {
        margin-bottom: 50px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        width: 100%;

        img{
            border-radius: 50% ;
        }

        input[type="text"], input[type="password"]{
            margin-bottom: 20px;
            background-color: var(--absolute-color);
            width: 100%;
            height: 40px;
            border: 0;
            border-bottom: 1px solid var(--text-color);
            transition: 0.2s ease-in-out;

            &:focus{
                outline: none !important;
                border-bottom: 1px solid $hoverButtonColor;
            }

            &:focus ~ .floating-label{
                color: $hoverButtonColor;
            }
        }

        .new-name-form, .new-email-form, .confirm-password-form{
            position: relative;
        }
        
        .floating-label {
            position: absolute;
            pointer-events: none;
            left: 2px;
            top: -5px;
            transition: 0.2s ease all;
            font-size: 10px;
        }
    }
}

#overlay{
    display: flex;
    position: fixed;
    opacity: 0;
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
#profile-edit.active{
    transform: translate(-50%, -50%) scale(1);
}