* {
  font-family: "Montserrat", sans-serif;
  color: #6b6b6b;
}

html, body {
  overflow: visible;
  margin: 0;
  padding: 0;
  background-color: #f6f8fc;
}

header {
  z-index: 5;
  margin: 25px 100px 0 100px;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-radius: 15px;
}
header .profile-picture {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
header .profile-picture img {
  width: 65px;
  border-radius: 50%;
  border: 5px solid transparent;
  transition: 0.2s;
}
header .profile-picture img:hover {
  border: 5px solid #ee1515;
}
header .header-options {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  padding-left: 15px;
}
header .header-options .create-team {
  color: #6b6b6b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}
header .header-options .create-team:hover {
  border-bottom: 5px solid #ee1515;
  color: #ee1515;
}
header .header-options .icon-parts {
  color: #6b6b6b;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15px;
  text-decoration: none;
  height: 100%;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}
header .header-options .icon-parts:hover {
  border-bottom: 5px solid #ee1515;
  color: #ee1515;
}
header .header-options .icon-parts img {
  height: 50px;
  padding-right: 5px;
}
header .header-options .create-team {
  padding-left: 15px;
  padding-right: 15px;
}

.pokemon-search {
  padding-top: 10px;
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 30%;
}
.pokemon-search .shiny-button img {
  width: 50px;
}
.pokemon-search .pokemon-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  padding: 25px;
}
.pokemon-search .pokemon-team .pokemon-item {
  padding: 15px;
}
.pokemon-search .pokemon-team .pokemon-item img {
  width: 100px;
}

#pokedex-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.25rem, 1fr));
  gap: 0.875em;
}
#pokedex-container .pokemon-block {
  align-items: center;
  flex-direction: column;
  width: 215px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}
#pokedex-container .pokemon-block .name {
  font-weight: 700;
  font-size: larger;
  color: black;
  transition: 0.2s;
}
#pokedex-container .pokemon-block .pokemon-id {
  display: flex;
  justify-content: center;
  width: 75px;
  background-color: #f6f8fc;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
}
#pokedex-container .pokemon-block .types {
  display: flex;
  flex-direction: row;
}
#pokedex-container .pokemon-block .types img {
  width: 50px;
}
#pokedex-container .pokemon-block .img-container {
  height: 175px;
}
#pokedex-container .pokemon-block .img-container img {
  width: 200px;
  position: relative;
}
#pokedex-container .pokemon-block:hover {
  border-bottom: 5px solid #ee1515;
  cursor: pointer;
}
#pokedex-container .pokemon-block:hover .name {
  color: #ee1515;
}
#pokedex-container .pokemon-block:hover .img-container img {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}/*# sourceMappingURL=team-creation.css.map */