$brightColor: #f6f8fc;
$hoverButtonColor: #ee1515;
$textColorBright: #6b6b6b;
$brightShadow-box: rgba(0, 0, 0, 0.15) 0px 5px 15px;
$darkColor: #212121;
$textColorDark: #e6e6e6;
$darkShadow-box: rgba(255, 255, 255, 0.15) 0px 5px 15px;

*{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.light-theme{
    --text-color: #{$textColorBright};
    --background-color: #{$brightColor};
    --shadow-box: #{$brightShadow-box};
    --absolute-color: white;
    --pokeball-background: brightness(3);
}

.dark-theme{
    --text-color: #{$textColorDark};
    --background-color: #{$darkColor};
    --shadow-box: #{$darkShadow-box};
    --absolute-color: #181818;
    --pokeball-background: grayscale(-50%);
}

html, body{
    overflow:visible;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.background-image{
    position: fixed;
    width: 100%;
    height: 100vw;
    overflow:visible;
    margin: 0;
    padding: 0;
    background-color: #B00832;
    z-index: -100;
    clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.background-image-2{
    position: fixed;
    width: 100%;
    height: 100vw;
    overflow:visible;
    margin: 0;
    padding: 0;
    background: rgb(176,8,50);
    background: linear-gradient(90deg, rgba(176,8,50,1) 0%, rgba(108,56,161,1) 100%);
    z-index: -99;
    clip-path: polygon(55% 0, 70% 0, 30% 100%, 15% 100%);
}

header{
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--absolute-color);
    box-shadow: var(--shadow-box);

    .profile-picture{
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-right: 15px;

        img{
            width: 65px;
            border-radius: 50%;
            border: 5px solid transparent;
            transition: 0.2s;

            &:hover{
                border: 5px solid $hoverButtonColor;
            }
        }
    }

    .header-options{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        left: 0;
        padding-left: 15px;
             
        .create-team:not(.clicked){
            color: var(--text-color);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            border-bottom: 5px solid transparent;
            transition: 0.2s;

            &:hover{
                border-bottom: 5px solid $hoverButtonColor;
                color: $hoverButtonColor;
            }
        }

        .icon-parts{
            color: var(--text-color);
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 15px;
            text-decoration: none;
            height: 100%;
            border-bottom: 5px solid transparent;
            transition: 0.2s;

            &:hover{
                border-bottom: 5px solid $hoverButtonColor;
                color: $hoverButtonColor;
            }

            img{
                height: 50px;
                padding-right: 5px;
            }
        }

        .create-team{
            padding-left: 15px;
            padding-right: 15px;
        }
    }    
}

.clicked{
    border-bottom: 5px solid $hoverButtonColor;
    color: $hoverButtonColor;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


.pokemon-search{
    padding-top: 10px;
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 40%;
    overflow-x: hidden;

    .pokemon-team{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 500px;
        padding: 25px;
    
        .pokemon-item{
            padding: 15px;
            img{
                width: 100px;
            }
        }
    }

    .pokemon-image-div{
        display: flex;
        align-items: center;
        
    }
}

.pokemon-item:has(.nopokemon):hover{
    cursor:not-allowed;
}

.pokemon-img:not(.nopokemon):hover{
    border-bottom: 1px solid $hoverButtonColor;
    cursor: pointer;
}

#pokedex-container{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 40%;
    display: flex;
    flex-direction: column;

    .pokemon-block{
        display: flex;
        flex-direction: row;
        height: 35px;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        margin: 15px;
        background-color: var(--absolute-color);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border: 5px solid transparent;
        transition: 0.1s ease-in-out;

        .name{
            width: 30%;
            text-align: right;
            font-weight: 700;
            font-size: larger;
            color: var(--text-color);
            
        }

        .pokemon-id{
            display: flex;
            justify-content: center;
            width: 75px;
            font-weight: 700;
            background-color: var(--background-color);
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
        }

        .types{
            display: flex;
            flex-direction: row;

            img{
                width: 25px;
            }
        }

        .img-container {

            img{
                transform: scale(1);
                width: 100px;
                position: relative;
                transition: 0.2s ease-in-out;
            }
        }

        &:hover{
            border: 5px solid $hoverButtonColor;
            cursor: pointer;
            box-shadow: var(--shadow-box);
            background-color: invert(30%);

            .img-container img{
                transform: scale(1.1);
            }
            .arrow-selection{
                display: flex;
            }
        }

        .arrow-selection{
            display: none;
            width: 100px;
            height: 100%;
            clip-path: polygon(100% 0%, 100% 100%, 31.75% 50%);
            background-color: #eb4747;
        }
    }
}

#pokemon-card{ //modal
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--background-color);
    border-radius: 15px;
    z-index: 10;
    max-width: 80%;
    max-height: 80%;
    box-shadow: var(--shadow-box);
    transition: 0.2s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;

    .pokemon-card-info{
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 25px;

            .pokeball-background{
                position: fixed;
                top: -100px;
                left: 500px;
                transform: rotate(-20deg);
                filter: var(--pokeball-background);
                z-index: 1; 
            }

            .image-div-left{
                width: 350px;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 2;

                .add-button{
                    position: absolute;
                    top: 5%;
                    left: 5%;
                }

                .pokemon-card-types{
                    padding-top: 25px;
                }

            }
            .image-div-right{
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 2;

                .pokemon-info{
                    background-color: var(--absolute-color);
                    position: relative;
                    top: -75px;
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: .375rem;
                    box-shadow: var(--shadow-box);
                }
            }
        }
        
        .pokemon-info-div{
            position: relative;
            width: 100%;
            display: grid;
            justify-content: space-around;
            text-align: center;
            grid-template-columns: repeat(2, 350px);
            grid-template-rows: repeat(2, 150px);

            .pokedex-entry{
                grid-area: 1/1;
                background-color: var(--absolute-color);
                border-radius: .375rem;
                --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
                margin-bottom: 25px;

                .pokedex-entry-info{
                    text-align: justify;
                    padding-top: 5px;
                }
            }
            .pokemon-stats{
                grid-area: 1/2;
                background-color: var(--absolute-color);
                border-radius: .375rem;
                --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
                margin-bottom: 25px;

                .stats-info{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-items: center;

                    .hp-stats, .atk-stats, .def-stats, .spatk-stats, .spdef-stats, .spd-stats{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: right;

                        .hp-tittle, .atk-tittle, .def-tittle, .spatk-tittle, .spdef-tittle, .spd-tittle{
                            padding-right: 10px;
                        }
                        .hp-info, .atk-info, .def-info, .spatk-info, .spdef-info, .spd-info{
                            padding-right: 10px;
                        }
                    }
                }
            }
            .pokemon-moves{
                grid-area: 2/1;
                height: fit-content - 50%;
                overflow-y: scroll;
                background-color: var(--absolute-color);
                --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
                border-radius: .375rem;

                .tittle{
                    padding-bottom: 5px;
                }
            }
            .pokemon-card-abilities{
                grid-area: 2/2;
                background-color: var(--absolute-color);
                --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
                box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
                border-radius: .375rem;

                .abilities-info{
                    padding-top: 5px;
                }
            }
        }

        .pokemon-card-id{
            font-weight: bold;
        }

        .pokemon-card-name{
            font-size: 35px;
            color: var(--text-color);
            font-weight: 700;
            padding-top: 20px;
            padding-bottom: 5px;
        }

        .pokemon-card-genera{
            padding-bottom: 15px;
            font-size: 15px;
        }

        .pokemon-card-types {
            display: flex;
            justify-content: center;

            .card-type-1, .card-type-2{
                width: 85px;
                color: var(--absolute-color);
                font-weight: 800;
                padding: 5px 15px;
                border-radius: 10px;
                text-align: center;
            }
        }

        .tittle{
            text-transform:uppercase;
            font-size: large;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .pokedex-entry, .pokemon-card-abilities, .pokemon-height, .pokemon-weight{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .pokemon-info{
            display: flex;
            flex-direction: row;

            .pokemon-height{
                padding-right: 25px;
            }
            .pokemon-weight{
                padding-left: 25px;
            }
        }
    }
}

.pokemon-stats{
    display: flex;
    flex-direction: column;
    align-items: center;

    .stats-info{
        display: flex;
        flex-direction: row;
    }
}

.bar{
    height:10px;
    width: 255px;
    background-color: #cacaca;
    border-radius: 15px;

    .progress{
        height: 10px;
        background-color: $hoverButtonColor;
        border-radius: 15px;
    }
}

.hidden{
    display: none;
}

.pokemon-info::after{
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    content: "";
    border-left: 1px solid var(--text-color);
    transform: translate(100px, 5px);
}

#overlay{
    display: none;
    position: fixed;
    opacity: 0;
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
    pointer-events: none;
}

#hidden-id, .team-id{
    visibility: hidden;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}
#pokemon-card.active{
    transform: translate(-50%, -50%) scale(1);
}


/* DROPDOWN MENU */
.drop-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.2s;
}

.drop-menu-wrap.open{
    max-height: 400px;
}

.drop-menu{
    background-color: var(--absolute-color);
    padding: 20px;
    margin: 10px;
    box-shadow: var(--shadow-box);

    .user-info{
        text-align: left;
    }

    hr{
        border: 0;
        height: 1px;
        width: 100%;
        background-color: var(--text-color);
    }

    .drop-menu-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text-color);
        margin: 12px 0;
        cursor: pointer;

        p{
            font-size: 15px;
            width: 100%;
        }

        i{
            width: 40px;
            margin-right: 5px;
        }

        span{
            font-size: 22px;
            transition: 0.2s;
        }
    }
}

.drop-menu-link:hover{
    span{
        transform: translateX(5px);
    }

    p{
        font-weight: 600;
    }
}


/* LOADER */
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 10;
    transition: 0.5s ease-in-out;
    text-align: center;

    img{
        width: 250px;
    }

    .pokemon-fetch {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }

    .loader-bar{
        height:10px;
        width: 500px;
        background-color: #cacaca;
        border-radius: 15px;
    
        .loader-progress{
            height: 10px;
            background-color: $hoverButtonColor;
            border-radius: 15px;
            transition: 0.3s ease-in-out;
        }
    }
}
#loader.hidden{
    transform: translateY(-100%);
    display: none;
}

#loader-overlay {
    display: flex;
    position: fixed;
    opacity: 1;
    transition: 0.5s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9;
    pointer-events: all;
}
#loader-overlay.hidden{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
}