* {
  font-family: "Montserrat", sans-serif;
  color: #6b6b6b;
}

html, body {
  overflow: visible;
  margin: 0;
  padding: 0;
  background-color: #f6f8fc;
}

header {
  z-index: 2;
  margin: 25px 100px 0 100px;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-radius: 15px;
}
header .profile-picture {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
header .profile-picture img {
  width: 65px;
  border-radius: 50%;
  border: 5px solid transparent;
  transition: 0.2s;
}
header .profile-picture img:hover {
  border: 5px solid #ee1515;
}
header .header-options {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  padding-left: 15px;
}
header .header-options .create-team:not(.clicked) {
  color: #6b6b6b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}
header .header-options .create-team:not(.clicked):hover {
  border-bottom: 5px solid #ee1515;
  color: #ee1515;
}
header .header-options .icon-parts {
  color: #6b6b6b;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 15px;
  text-decoration: none;
  height: 100%;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}
header .header-options .icon-parts:hover {
  border-bottom: 5px solid #ee1515;
  color: #ee1515;
}
header .header-options .icon-parts img {
  height: 50px;
  padding-right: 5px;
}
header .header-options .create-team {
  padding-left: 15px;
  padding-right: 15px;
}

.clicked {
  border-bottom: 5px solid #ee1515;
  color: #ee1515;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.pokemon-search {
  padding-top: 10px;
  height: 100%;
  position: fixed;
  z-index: 1;
  width: 30%;
}
.pokemon-search .shiny-button img {
  width: 50px;
}
.pokemon-search .pokemon-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  padding: 25px;
}
.pokemon-search .pokemon-team .pokemon-item {
  padding: 15px;
}
.pokemon-search .pokemon-team .pokemon-item img {
  width: 100px;
}

.pokemon-item:has(.nopokemon):hover {
  cursor: not-allowed;
}

.pokemon-img:not(.nopokemon):hover {
  border-bottom: 1px solid #ee1515;
  cursor: pointer;
}

#pokedex-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.25rem, 1fr));
  gap: 0.875em;
}
#pokedex-container .pokemon-block {
  align-items: center;
  flex-direction: column;
  width: 215px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  border-bottom: 5px solid transparent;
  transition: 0.2s;
}
#pokedex-container .pokemon-block .name {
  font-weight: 700;
  font-size: larger;
  color: black;
  transition: 0.2s;
}
#pokedex-container .pokemon-block .pokemon-id {
  display: flex;
  justify-content: center;
  width: 75px;
  font-weight: 700;
  background-color: #f6f8fc;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
}
#pokedex-container .pokemon-block .types {
  display: flex;
  flex-direction: row;
}
#pokedex-container .pokemon-block .types img {
  width: 50px;
}
#pokedex-container .pokemon-block .img-container {
  height: 175px;
}
#pokedex-container .pokemon-block .img-container img {
  width: 200px;
  position: relative;
}
#pokedex-container .pokemon-block:hover {
  border-bottom: 5px solid #ee1515;
  cursor: pointer;
}
#pokedex-container .pokemon-block:hover .name {
  color: #ee1515;
}
#pokedex-container .pokemon-block:hover .img-container img {
  transform: scale(1.1);
  transition: 0.2s;
}

#pokemon-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
  background-color: #f6f8fc;
  border-radius: 15px;
  z-index: 10;
  max-width: 80%;
  max-height: 80%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  transition: 0.7 ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
}
#pokemon-card .pokemon-card-info {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pokemon-card .pokemon-card-info .image-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
}
#pokemon-card .pokemon-card-info .image-div .pokeball-background {
  position: fixed;
  top: -100px;
  left: 500px;
  transform: rotate(-20deg);
  filter: brightness(3);
  z-index: 1;
}
#pokemon-card .pokemon-card-info .image-div .image-div-left {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
#pokemon-card .pokemon-card-info .image-div .image-div-left .add-button {
  position: absolute;
  top: 5%;
  left: 5%;
}
#pokemon-card .pokemon-card-info .image-div .image-div-left .pokemon-card-types {
  padding-top: 25px;
}
#pokemon-card .pokemon-card-info .image-div .image-div-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
#pokemon-card .pokemon-card-info .image-div .image-div-right .pokemon-info {
  background-color: white;
  position: relative;
  top: -75px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
#pokemon-card .pokemon-card-info .pokemon-info-div {
  position: relative;
  width: 100%;
  display: grid;
  justify-content: space-around;
  text-align: center;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 150px);
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokedex-entry {
  grid-area: 1/1;
  background-color: white;
  border-radius: 0.375rem;
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  margin-bottom: 25px;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokedex-entry .pokedex-entry-info {
  text-align: justify;
  padding-top: 5px;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats {
  grid-area: 1/2;
  background-color: white;
  border-radius: 0.375rem;
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  margin-bottom: 25px;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .hp-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .atk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .def-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .spatk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .spdef-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .spd-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .hp-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .atk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .def-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .spatk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .spdef-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .spd-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .hp-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .atk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .def-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .spatk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .spdef-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .spd-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .hp-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .atk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .def-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .spatk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .spdef-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .spd-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .hp-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .atk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .def-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .spatk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .spdef-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .spd-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .hp-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .atk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .def-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .spatk-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .spdef-tittle, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .spd-tittle {
  padding-right: 10px;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .hp-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .atk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .def-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .spatk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .spdef-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .hp-stats .spd-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .hp-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .atk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .def-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .spatk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .spdef-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .atk-stats .spd-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .hp-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .atk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .def-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .spatk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .spdef-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .def-stats .spd-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .hp-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .atk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .def-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .spatk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .spdef-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spatk-stats .spd-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .hp-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .atk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .def-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .spatk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .spdef-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spdef-stats .spd-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .hp-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .atk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .def-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .spatk-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .spdef-info, #pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-stats .stats-info .spd-stats .spd-info {
  padding-right: 10px;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-moves {
  grid-area: 2/1;
  height: fit-content-50%;
  overflow-y: scroll;
  background-color: white;
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  border-radius: 0.375rem;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-moves .tittle {
  padding-bottom: 5px;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-card-abilities {
  grid-area: 2/2;
  background-color: white;
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  border-radius: 0.375rem;
}
#pokemon-card .pokemon-card-info .pokemon-info-div .pokemon-card-abilities .abilities-info {
  padding-top: 5px;
}
#pokemon-card .pokemon-card-info .pokemon-card-id {
  font-weight: bold;
}
#pokemon-card .pokemon-card-info .pokemon-card-name {
  font-size: 35px;
  color: black;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 5px;
}
#pokemon-card .pokemon-card-info .pokemon-card-genera {
  padding-bottom: 15px;
  font-size: 15px;
}
#pokemon-card .pokemon-card-info .pokemon-card-types {
  display: flex;
  justify-content: center;
}
#pokemon-card .pokemon-card-info .pokemon-card-types .card-type-1, #pokemon-card .pokemon-card-info .pokemon-card-types .card-type-2 {
  width: 85px;
  color: white;
  font-weight: 800;
  padding: 5px 15px;
  border-radius: 10px;
  text-align: center;
}
#pokemon-card .pokemon-card-info .tittle {
  text-transform: uppercase;
  font-size: large;
  font-weight: 600;
  letter-spacing: 2px;
}
#pokemon-card .pokemon-card-info .pokedex-entry, #pokemon-card .pokemon-card-info .pokemon-card-abilities, #pokemon-card .pokemon-card-info .pokemon-height, #pokemon-card .pokemon-card-info .pokemon-weight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pokemon-card .pokemon-card-info .pokemon-info {
  display: flex;
  flex-direction: row;
}
#pokemon-card .pokemon-card-info .pokemon-info .pokemon-height {
  padding-right: 25px;
}
#pokemon-card .pokemon-card-info .pokemon-info .pokemon-weight {
  padding-left: 25px;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-stats .stats-info {
  display: flex;
  flex-direction: row;
}

.bar {
  height: 10px;
  width: 255px;
  background-color: #cacaca;
  border-radius: 15px;
}
.bar .progress {
  height: 10px;
  background-color: #ee1515;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.pokemon-info::after {
  height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  content: "";
  border-left: 1px solid #6b6b6b;
  transform: translate(100px, 5px);
}

#overlay {
  display: none;
  position: fixed;
  opacity: 0;
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  pointer-events: none;
}

#hidden-id {
  visibility: hidden;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#pokemon-card.active {
  transform: translate(-50%, -50%) scale(1);
}/*# sourceMappingURL=team-creation.css.map */