$brightColor: #f6f8fc;
$hoverButtonColor: #ee1515;
$textColor: #6b6b6b;

*{
    font-family: 'Montserrat', sans-serif;
    color: $textColor;
}

html, body{
    overflow:visible;
    margin: 0;
    padding: 0;
    background-color: $brightColor;
}

header{
    z-index: 5;
    margin: 25px 100px 0 100px;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    border-radius: 15px;

    .profile-picture{
        display: flex;
        align-items: center;
        padding-right: 15px;

        img{
            width: 65px;
            border-radius: 50%;
            border: 5px solid transparent;
            transition: 0.2s;

            &:hover{
                border: 5px solid $hoverButtonColor;
            }
        }
    }

    .header-options{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        left: 0;
        padding-left: 15px;
             
        .create-team{
            color: $textColor;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            border-bottom: 5px solid transparent;
            transition: 0.2s;

            &:hover{
                border-bottom: 5px solid $hoverButtonColor;
                color: $hoverButtonColor;
            }
        }

        .icon-parts{
            color: $textColor;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 15px;
            text-decoration: none;
            height: 100%;
            border-bottom: 5px solid transparent;
            transition: 0.2s;

            &:hover{
                border-bottom: 5px solid $hoverButtonColor;
                color: $hoverButtonColor;
            }

            img{
                height: 50px;
                padding-right: 5px;
            }
        }

        .create-team{
            padding-left: 15px;
            padding-right: 15px;
        }
    }    
}


.pokemon-search{ //ARREGLAR (NO SE QUEDA ESTATICO)
    padding-top: 10px;
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 30%;

    .shiny-button img{
        width: 50px;
    }

    .pokemon-team{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 500px;
        padding: 25px;
    
        .pokemon-item{
            padding: 15px;
            img{
                width: 100px;
            }
        }
    }
}

#pokedex-container{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.25rem, 1fr));
    gap: 0.875em;

    .pokemon-block{
        align-items: center;
        flex-direction: column;
        width: 215px;
        padding: 15px;
        background-color: white;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
        border-bottom: 5px solid transparent;
        transition: 0.2s;

        .name{
            font-weight: 700;
            font-size: larger;
            color: black;
            transition: 0.2s;
        }

        .pokemon-id{
            display: flex;
            justify-content: center;
            width: 75px;
            background-color: $brightColor;
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
        }

        .types{
            display: flex;
            flex-direction: row;

            img{
                width: 50px;
            }
        }

        .img-container {
            height: 175px;

            img{
                width: 200px;
                position: relative;
            }
        }

        &:hover{
            border-bottom: 5px solid $hoverButtonColor;
            cursor: pointer;

            .name{
                color: $hoverButtonColor;
            }

            .img-container img{
                animation-name: floating;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
        }
    }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -15px); }
    100%   { transform: translate(0, -0px); }
}
